body{
    margin: 0; 
    font-family: 'Segoe UI', sans-serif;
    background-color:lightgrey; 
    color: black;

}

.menu{
    background-color: rgb(79, 60, 255); 
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgb(33, 31, 65);

}

.menu-container{
    max-width: 1000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

nav ul li a{
    color: whitesmoke;
    text-decoration: wavy;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.lista{
    text-decoration:none ;
    display: inline-block;
    margin-right: 1.5rem;
    font-weight: bold;
    transition: 0.5s;
}
.lista :hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
.cabeçalho{
    background-color: rgb(74, 76, 207);
    color: whitesmoke;
    padding: 60px 20px;
    text-align: center;
}
.cabeçalho h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
}
.cabeçalho h2{
    font-weight: 300;
    font-style: italic;
    color: gold;
}
.imagem{
    border-radius: 10px;
}
.principal{
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 2px black;
}
.missao-valores{
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
}
.objetivo{ 
    background-color: aliceblue;
    border-radius:15px;
    box-shadow: 0 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
}
.arrecadaçoes{
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 2px 10px black;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.encerramento{
    background-color: aliceblue;
    border-radius: 10px;
    border-left: 5px solid blue;
    padding: 20px;
    display:inline-block;
    margin-right: 20px;
    box-shadow: 0 2px 5px;
}
.atividade-container{
    background-color: aliceblue;
    padding: 30px;
    box-shadow: 0 2px 10px black;
    border-radius: 15px;
}
.doaçao{
    margin-bottom: 10px;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 10px;
    border-left: 5px solid rgb(28, 207, 81);
    font-weight: bold;
}
.hora{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 15px;
    color:rgb(28, 207, 81);
    background-color:aquamarine;
    padding: 10px;
    border-radius: 10px 15px;
    margin-right: 80%;
    box-shadow: 0 2px 5px black;
}
.texto-introdução{
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    background-color: whitesmoke;
    box-shadow: 0 2px blue;
    border-radius: 12px;
    padding: 20px;
    border-left: 3px solid blue;
}
.listadevalores{
    list-style: none;
    padding: 10px;
    background: rgb(183, 126, 236);
    margin-bottom: 10px;
    border-left: 3px solid blueviolet;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}
.listadevaloresul{
    padding: 20px;
    background: whitesmoke;
    box-shadow: 0 2px 5px black;
    border-radius: 12px;
    border-left: 3px solid blueviolet;
    box-shadow: 0 2px blueviolet;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: aliceblue;
}
th,td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: rgb(69, 87, 255);
}
.boxamarela{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:yellow;
}
.listad{
    background-color:aliceblue;
    list-style: none;
    padding:15px;
    box-shadow: 0 2px rgb(69, 87, 255);
    border-left: 3px solid rgb(69, 87, 255);
    border-radius: 15px;
    margin-bottom: 20px;
}
.suplementos{
    border-left: 3px solid red;
    background-color:aliceblue;
    box-shadow: 0 2px red;
    border-radius: 15px;
}
.amarelo{
    color: black;
}
.thing{
    background-color: aliceblue;
    border-left: 3px solid green;
    box-shadow: 0 2px green;
    border-radius: 15px;
    padding: 10px;
}
.blood{
    background-color:aliceblue;
    border-left: 3px solid red;
    box-shadow: 0 2px red;
    border-radius: 15px;
    padding: 10px;
}
.xp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.seek{
    background-color:aliceblue;
    border-left: 3px solid rgb(69, 87, 255);
    box-shadow: 0 2px rgb(69, 87, 255);
    border-radius: 15px;
    padding: 10px;

}
footer{
    background-color: rgb(74, 76, 207);
    color: whitesmoke;
    padding: 30px 20px;
    text-align: center;
    font-size: 17px;
}
.cronus{
    margin-bottom: 25px;
    position: relative;

}
.cronus ::before{ /*criação de elemeto fantasma*/
    content: ""; /*modo arquiteto*/
    width: 12px;
    height: 12px;
    background: orangered;
    border-radius: 50%;
    position: absolute;
    left:-13px;
    top:5px;
}
.timeline{
    border-left: 3px solid blue;
    padding-left: 5px;
    margin-bottom :20px;
}
.gridlocals{
    display: flex;
    gap: 20px;
}
.unidade{
    flex: 1;
    background: gray;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.unidade h4{
    color:blue;
    margin-top: 0;
}
.fgrid{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.resultadobx{
    margin-top: 20px;
    padding: 15px;
    background-color: #eef5ff;
    border-left: 5px solid #1e3c72;
    font-weight: bold;
    font-size: 1.2rem;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}
select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}
.boxcinza{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:gray;
}
.boxalaranja{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:orange;
}
.boxlescura{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:orangered;
}
.boxpreto{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:black;
}
.boxrosa{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: pink;
}
.boxroxa{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:purple;
}
.boxverde{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:green;
}
.boxvermelho{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background:red;
}
